@model Employee
<div class="container">
	<img src="~/assets/img/@Model.ImageUrl" style="width:200px;"/>
	<h1>@Model.Name @Model.Surname</h1>
	<p><b>Position: </b>@Model.Position.Name</p>
	<hr/>
	<p><b>Facebook: </b>@Model.FacebookLink</p>
	<p><b>Twritter: </b>@Model.TwitterLink</p>
	<p><b>Instagram: </b>@Model.InstagramLink</p>
	<p><b>Linkedin: </b>@Model.LinkedinLink</p>

</div>
